@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
   
  }
}

body {
  color: var(--foreground);
  font-family:  'Noto Sans KR';
    margin: 0;
  padding: 0;
}


html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}